{% extends "home.html" %}






{% block title %}Login{% endblock %}

{% block content %}

<div class="container">
    <h2>صفحه ورود</h2>
</div>


{% csrf_token %}

<form action="" method="post">
    <div class="container">

        {% csrf_token %}
        <hr>




        <hr>
        نام کاربری خود را در قسمت زیر وارد نمایید
        <hr>
        {{form.username}}
        <hr>
        پسورد خود را در قسمت زیر وارد نمایید
        <hr>
        {{form.password}}
        <hr>
    </div>

    <div class="container">
        <input class="btn btn-secondary btn-block" type="submit" value="تایید">
    </div>


</form>



{% endblock %}