{% extends "shop_base.html" %}

{% block content %}

<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">

            <h5>مشخصات محصولی که قصد ثبت آن را دارید وارد نمایید</h5>
            <div class="row">

                <div class="col-sm-8">
                    <hr>
                    نام محصول: {{ form.name }}
                    <hr>
                    قیمت محصول: {{form.price}}
                    <hr>
                    موجودی اولیه: {{form.primary_stock}}
                    <hr>
                    باقیمانده: {{form.remaining_stock}}
                    <hr>

                    توضیحات: {{form.description}}
                    <hr>
                </div>


                <div class="col-sm-4">
                    <hr>
                    تگ ها: {{form.tag}}
                    <hr>

                    عکس کوچک:
                    <hr>
                    {{form.thumbnail}}
                    <hr>
                    عکس اصلی:
                    <hr>
                    {{form.image}}
                    <hr>


                </div>
            </div>

            <input class="btn btn-secondary btn-block" type="submit" value="تایید">


        </div>
    </form>
</body>


{% endblock %}