{% extends "shop_base.html" %}
{% block content %}
<div class="container">
    <h3>گزارش فروش مشتریان</h3>
</div>
<hr>



<div class="container">
    <div>

        <h3>
            کل فروش: {{total_sell.total_sell}}
        </h3>

    </div>

    <hr>
    <hr>


</div>

<div class="container">

    <div class="row">
        <div class="col-sm-6">

            <p>
                گزارش خرید مشتریان به نرتیب کل مبلغ خریداری شده
            </p>
            <table class="table-bordered">
                <tr>
                    <th>نام کابری مشتری</th>
                    <th>مبلغ کل خریداری شده</th>
                    <th>تعداد خرید انجام شده</th>

                </tr>

                {% for u in user %}
                <tr>
                    <td>{{u.costumer__username}}</td>
                    <td>{{u.total_buy}}</td>
                    <td>{{u.number_of_buy}}</td>
                </tr>
                {% endfor %}

            </table>



        </div>

        <div class="col-sm-6">

            <p>
                گزارش خرید مشتریان به نرتیب تعداد کالای خریداری شده
            </p>

            <table class="table-bordered">
                <tr>
                    <th>نام کابری مشتری</th>
                    <th>تعداد کالای خریداری شده</th>
                    <th>تاریخ آخرین خرید</th>

                </tr>

                {% for u in number_of_product %}
                <tr>
                    <td>{{u.costumer__username}}</td>
                    <td>{{u.number_of_product}}</td>
                    <td>{{u.last_update}}</td>
                </tr>
                {% endfor %}

            </table>



        </div>





    </div>


</div>



{{ u.count }}
{{ u.total_buy }}

{{ u.number_of_buy }}


{{u.username}}


{{ u.number_of_order }}

{% endblock %}