{% extends "shop_base.html" %}

{% block content %}
<h3>{{shop.name}}</h3>
<h3>{{user.username}}</h3>
<li class="nav-item dropdown">
    <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        فروشگاه
    </a>
    <ul aria-labelledby="navbarDropdown">
        <li><a href="#"></a></li>
        {% if messages %}
        <ul>
            {% for message in messages %}
            {{ message }}
</li>
{% endfor %}
</ul>
{% endif %}





{% if shop %}
<li><a href="#">لیست محصولات</a></li>
<li>
    <hr>
</li>
<li><a href="add_product/{{user.id}}">افزودن محصول</a></li>
<li>
    <hr>
</li>
<li><a href="#">لیست تگ ها</a></li>
<li>
    <hr>
</li>
<li><a href="#">افزودن تگ</a></li>
<li>
    <hr>
</li>
<li><a href="#">لیست دسته بندی ها</a></li>
<li>
    <hr>
</li>
<li><a href="#">افزودن دسته بندی ها</a></li>
</ul>
</li>
{% else %}

<li><a href="shop_register/{{user.id}}">ثبت فروشگاه</a></li>

{% endif %}






{% endblock %}