{% extends "shop_base.html" %}

{% block content %}



{% csrf_token %}

<form action="" method="post">
    <div class="container">

        {% csrf_token %}
        نام جدیدی که برای فروشگاه خود در نظر دارید در قسمت زیر وارد نمایید
        <hr>
        {{form.name}}

        <hr>
        اگر می خواهید فیلد فروشگاه خود را تغییر دهید آن را در قسمت زیر انتخاب کنید
        <hr>
        {{form.category}}
        <hr>
        اگر می خواهید فروشگاه خود را حذف کنید گزینه حذف را انتخاب نمایید
        <hr>
        {{form.delete_status}}
        <hr>
    </div>

    <div class="container">
        <input class="btn btn-secondary btn-block" type="submit" value="تایید">
    </div>


</form>



{% endblock %}