{% extends "shop_base.html" %}

{% block content %}


<div>
    <form action="{% url 'sell:shop_basket' request.user.id %}" method="post">
        {% csrf_token %}

        {{search_form.as_p}}
        <input type="submit" value="تایید شد">


</div>




<ul>
    {% for s in shop_basket %}
    <li>
        نام کاربری مشتری: {{s.costumer.username }} - قیمت کل سبد خرید: {{s.total_price}}- وضعیت: {{s.status}}
        <hr>
        <form action="shop_basket_details/{{s.id}}" method="post">
            {% csrf_token %}

            {{form.as_p}}

            <input type="submit" value="تایید شد">

        </form>
    <li><a href="shop_basket_details/{{s.id}}">جزپیات سبد خرید</a></li>

    </li>

</ul>

{% endfor %}
{% endblock %}