{% extends "shop_base.html" %}

{% block content %}

{% load mathfilters %}

<div class="container">
    <h3>جزپیات سبد خرید مشتری با نام کاربری: {{shop_basket.costumer.username}}</h3>
</div>
<hr>

<div class="container">
    <h3>قیمت کل: {{shop_basket.total_price}}</h3>
</div>
<hr>
</div>
<hr>

{% for o in order %}
<div class="container">
    <div class="row">




        <div class="col-sm-8">

            نام محصول: {{ o.comodity.name }}
            <hr>
            تاریخ ایجاد سفارش:{{o.created_on}}
            <hr>
            تاریخ ویرایش سفارش:{{o.opdated_on}}
            <hr>
            تعداد سفارش:{{o.number}}
            <hr>
            قیمت محصول: {{o.comodity.price}}
            <hr>
            مبلغ سفارش: {{ o.comodity.price|mul:o.number }}


        </div>


        <div class='col-sm-4'>

            <img width=100% src="{{o.comodity.thumbnail.url}}">


        </div>

    </div>



</div>

<hr>





{% endfor %}
{% endblock %}