<!DOCTYPE html>
<html dir='rtl' lang="fa">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>{% block title %}def title{%endblock%}</title>
    {% block linkCss %}
    {% endblock linkCss %}
    <style>
        div {
            border-radius: 5px;
            border: solid rgb(179, 201, 193) 0.05px;
            background-color: rgb(171, 199, 190);
        }

        h1 {
            text-align: center;
        }

        img {
            margin-top: 5%;
            width: 100%;
            height: auto;
        }

        * {
            text-align: right;
        }
    </style>
</head>

<body style="background-color:rgb(193, 204, 199);">
    <div class="container p-3 my-3 bg-dark text-white">
        <h1><a href="{% url 'sell:shop_admin' request.user.id %}">صفحه کاربری فروشگاه</a></h1>
    </div>
    <div class="container">
        {% if messages %}
        <li>
            {% for message in messages %}
            {{ message }}
        </li>
        {% endfor %}
        {% endif %}
    </div>
    <hr>
    {% block content %}
    {% endblock content %}
    <hr>
    <div class="container">
        <p><a href="{% url 'logout' %}">خروج</a></p>
    </div>

</body>

</html>